html,body{ margin:0; border:none; padding:0; background: pink; }
canvas { height: 100vh; width:100vw; position:fixed; }
#time { position: fixed; right: 1px; bottom: 1px; font-family: sans-serif; color: gray; }
#page { position: fixed; left: 1px; bottom: 1px; font-family: sans-serif; color: gray; }
#cursor { position: fixed; bottom: 1px; left: 50%; transform: translate(-50%, 0); }
